<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>Chess</title>
		<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
		<link rel="stylesheet" href="public/stylesheets/reset.css" />
		<link rel="stylesheet" href="public/stylesheets/header.css" />
		<link rel="stylesheet" href="public/stylesheets/style.css" />
	</head>
	<body>
		<header>
			<ul class="reg_list">
				<a href=""><li>Log-in</li></a>
				<a href=""><li>Sig-in</li></a>
				<a href=""><li>Log-out</li></a>
			</ul>
			<br />
			<ol>
				<% data.forEach((user) => { %>
				<li><%= user.login %></li>
				<% }); %>
			</ol>
			<hr />
		</header>

		<%- include('layout/chessBoard') -%>

		<script src="public/javascripts/main.js" type="module"></script>
	</body>
</html>
