<% include layout/header.ejs %>

<form method="post">
	<input type="text" name="login" placeholder="Login" />
	<input type="password" name="pass" />
	<input type="submit" value="Add" />
</form>

<% include layout/footer.ejs %>
