.my_navbar {
	background-image: linear-gradient(#a3a3a3, #bec3c5);
	box-shadow: 2px 1px 3px rgb(170, 170, 170);
}

.my_dropdown_menu {
	background-image: linear-gradient(#d8d8d8, #cacaca);
	box-shadow: 2px 1px 3px rgb(170, 170, 170);
}

.title_site {
	font-size: 25px;
}

.my_nav_link {
	font-size: 20px;
}
