<div class="wrapper">
	<div class="black_out"></div>
	<table class="chessBoard">
		<tr>
			<th></th>
			<th class="vertical"></th>
			<th class="vertical"></th>
			<th class="vertical"></th>
			<th class="vertical"></th>
			<th class="vertical"></th>
			<th class="vertical"></th>
			<th class="vertical"></th>
			<th class="vertical"></th>
			<th></th>
		</tr>
		<tr>
			<th class="horizontal">8</th>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<th class="horizontal"></th>
		</tr>
		<tr>
			<th class="horizontal">7</th>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<th class="horizontal"></th>
		</tr>
		<tr>
			<th class="horizontal">6</th>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<th class="horizontal"></th>
		</tr>
		<tr>
			<th class="horizontal">5</th>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<th class="horizontal"></th>
		</tr>
		<tr>
			<th class="horizontal">4</th>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<th class="horizontal"></th>
		</tr>
		<tr>
			<th class="horizontal">3</th>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<th class="horizontal"></th>
		</tr>
		<tr>
			<th class="horizontal">2</th>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<th class="horizontal"></th>
		</tr>
		<tr>
			<th class="horizontal">1</th>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<td class="dark"></td>
			<td></td>
			<th class="horizontal"></th>
		</tr>
		<tr>
			<th></th>
			<th class="vertical">a</th>
			<th class="vertical">b</th>
			<th class="vertical">c</th>
			<th class="vertical">d</th>
			<th class="vertical">e</th>
			<th class="vertical">f</th>
			<th class="vertical">g</th>
			<th class="vertical">h</th>
			<th></th>
		</tr>
	</table>

	<div class="white_out"></div>
	<div class="story">
		<p class="title">Moves history</p>
		<div class="story_list">
			<ol class="list_moves"></ol>
		</div>
	</div>
</div>