<header class="header">
	<div class="logo_block">
		<div class="logo" href="">
			<img src="/public/image/chess-logo.png" width="50" height="43" />
			&nbsp; Online Chess
		</div>
	</div>
	<nav class="navigation_block">
		<ul class="nav_list">
			<li id="btn_new_game">New game</li>
			<li id="btn_load_game">Load game</li>
			<li>Other</li>
		</ul>
	</nav>
	<div class="spacer"></div>
	<div class="auth_block">
		<button class="auth_btn">My Account&nbsp;<i class="fas fa-chevron-down"></i></button>
		<div class="auth_submenu none"></div>
	</div>
</header>